<!DOCTYPE html>
<html>
  <head>
    <title>PuzzleMePictures</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
      <div class="container">
          <h1 id="logo"><%= link_to 'Puzzle Me Pictures', root_path %></h1>
          <nav>
            <%= link_to 'Puzzles', puzzles_path %>
            <%= link_to 'Make + Share', new_puzzle_path %>
            <% if user_signed_in? %>
              <%= link_to 'Profile', edit_user_registration_path, :class => 'navbar-link' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </nav>
      </div>
  </header>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
    </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
