<%= form_for [@user, @puzzle] do |f| %>

  <% if @puzzle.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@puzzle.errors.count, "error") %> - Please Fix to Continue:
      </h2>
      <ul>
        <% @puzzle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :difficulty, 'Difficulty Level (3 - 15)', :id=>"range-text" %><br>
    <%= f.range_field :difficulty, :min=>3, :max=>15, :id=>"range-value"%>
  </p>

  <p>
    <%= f.label :image, 'Image (no bigger than 200kb)'%><br>
    <%= f.text_field :image %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
