<%= javascript_tag do %>
  window.mapImg = '<%= raw @puzzle.image %>';
<% end %>

<canvas id="canvas"></canvas>
<h1><%= @puzzle.title %></h1>
<%= link_to 'Back', puzzles_path %>
<%= link_to 'Edit', edit_puzzle_path(@puzzle) %>
<%= link_to 'Delete', puzzle_path(@puzzle), method: :delete %>
